.App {
  margin: 0 auto;
  max-width: 960px;
  background-image: url("https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

h1 {
  text-align: center;
}

h2 {
  font-weight: bold;
}

a {
  color: purple;
}

form {
  text-align: center;
}

footer {
  text-align: center;
  margin: 10px 0;
  color: grey;
  font-size: small;
}
