.App {
  margin: 30px 10px;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: bold;
}

form {
  text-align: center;
}

footer {
  text-align: center;
  margin: 10px 0;
  color: grey;
  font-size: small;
}
