.Phonetic {
  margin: 20px 0;
  text-align: center;
}

.Phonetic a {
  border: 3px solid rgb(227, 209, 10);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: rgb(227, 209, 10);
  color: lightcyan;
}

.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
}
